.app-container {
  position: relative;
  width: 900px;
  height: 600px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0 auto;
  background-color: #ff9104;
}

.app-container h2 {
  position: absolute;
  font-family: "Anton", sans-serif;
  letter-spacing: 1px;
  right: 52px;
  font-weight: lighter;
}

.app-content {
  width: 855px;
  height: 545px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  margin-top: 50px;
  background-color: black;
}

.header {
  font-family: "Anton", sans-serif;
  border-top-right-radius: 15px;
  color: #ff9104;
  letter-spacing: 1px;
  background-color: black;
}

.header h1 {
  margin: 5px 10px;
  font-size: 40px;
}
.task-list {
  width: 70%;
  margin-left: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
}

.task {
  font-family: "Anton", sans-serif;
  text-align: center;
  border-radius: 25px;
  font-size: 18px;
  margin: 8px 10px;
  width: 40%;
  color: black;
  background-color: #cb99cc;
  cursor: pointer;
}

.task:hover {
  background-color: aliceblue;
}
.completed {
  background-color: #ff9104;
}

.remove-button {
  position: absolute;
  right: 20px;
  top: 255px;
  border: none;
  height: 60px;
  width: 200px;
  font-size: 20px;
  border-radius: 25px;
  background-color: #ff9104;
  cursor: pointer;
  font-family: "Anton", sans-serif;
}

.remove-button:hover {
  background-color: aliceblue;
}

.input {
  position: absolute;
  right: 20px;
  top: 95px;
  border: none;
  height: 60px;
  width: 200px;
  background-color: #cb99cc;
  color: black;
  text-align: center;
  font-size: 20px;
  border-radius: 25px;
  font-family: "Anton", sans-serif;
}

::placeholder {
  text-align: center;
  color: black;
}

.add-button {
  position: absolute;
  right: 20px;
  top: 175px;
  border: none;
  height: 60px;
  width: 200px;
  font-size: 20px;
  border-radius: 25px;
  background-color: #cb99cc;
  cursor: pointer;
  font-family: "Anton", sans-serif;
}

.add-button:hover {
  background-color: aliceblue;
}
/* font-family: 'Anton', sans-serif; */
